In [1]:
import requests
import selenium
import pandas as pd
import numpy as np
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')

##### 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank B) NameC) ArtistD) Upload dateE) Views

In [15]:
wiki=webdriver.Chrome()
wiki.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos') # Initializing the WebDriver

In [58]:
Video=[]
Upload=[]
Artist=[]
Views=[]
# Finding the table containing video details

Vi=wiki.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in Vi:
    Video.append(i.text)

artist=wiki.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in artist:
    Artist.append(i.text)

views=wiki.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"][1]/tbody/tr/td[3]')
for i in views:
        Views.append(i.text)

upload_date=wiki.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"][1]/tbody/tr/td[4]')
for i in upload_date:
        Upload.append(i.text)

df_yt=pd.DataFrame({"Video Name":Video, "Artist":Artist, "Views":Views, "Upload Date":Upload})
df_yt.index.name="Rank"
df_yt# Creating a data frame

,Video Name,Artist,Views,Upload Date
Rank,,,,
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,"""Despacito""[9]",Luis Fonsi,8.38,"January 12, 2017"
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,"""Shape of You""[19]",Ed Sheeran,6.20,"January 30, 2017"
5,"""See You Again""[22]",Wiz Khalifa,6.17,"April 6, 2015"
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,"""Uptown Funk""[29]",Mark Ronson,5.15,"November 19, 2014"
9,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[30]",Miroshka TV,5.07,"February 27, 2018"
10,"""Gangnam Style""[31]",Psy,5.05,"July 15, 2012"
11,"""Masha and the Bear ‚Äì Recipe for Disaster""[36]",Get Movies,4.58,"January 31, 2012"
12,"""Dame Tu Cosita""[37]",Ultra Records,4.55,"April 5, 2018"
13,"""Axel F""[38]",Crazy Frog,4.34,"June 16, 2009"
14,"""Sugar""[39]",Maroon 5,4.00,"January 14, 2015"
15,"""Counting Stars""[40]",OneRepublic,3.97,"May 31, 2013"
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,"""Roar""[42]",Katy Perry,3.96,"September 5, 2013"
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.91,"June 14, 2018"
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,3.85,"June 4, 2010"
20,"""Sorry""[45]",Justin Bieber,3.77,"October 22, 2015"
21,"""Thinking Out Loud""[46]",Ed Sheeran,3.73,"October 7, 2014"
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,3.69,"May 10, 2011"
24,"""Dark Horse""[49]",Katy Perry,3.67,"February 20, 2014"
25,"""Perfect""[50]",Ed Sheeran,3.67,"November 9, 2017"
26,"""Let Her Go""[51]",Passenger,3.61,"July 25, 2012"
27,"""Faded""[52]",Alan Walker,3.59,"December 3, 2015"
28,"""Girls Like You""[53]",Maroon 5,3.56,"May 31, 2018"
29,"""Lean On""[54]",Major Lazer Official,3.55,"March 22, 2015"

##### 2. Scrape the details team India‚Äôs international fixtures from bcci.tv. Url = https://www.bcci.tv/.You need to find following details:A) SeriesB) PlaceC) DateD) Time

In [59]:
bcci=webdriver.Chrome()
bcci.get("https://www.bcci.tv/") # Initializing the WebDriver

In [61]:
select=bcci.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
select.click()# Clicking on the "International" link to reach the fixture page

In [94]:
series=[]
place=[] 
date=[]
time=[]

# Finding the fixture details

s_t=bcci.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in s_t:
    try:
        series.append(i.text)
    except NoSuchElementException:
        series.append('-')

p=bcci.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in p:
    try:
        place.append(i.text)
    except NoSuchElementException:
        place.append('-')

d=bcci.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in d:
    try:
        date.append(i.text)
    except NoSuchElementException:
        date.append('-')

t=bcci.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in t:
    try:
        time.append(i.text)
    except NoSuchElementException:
        time.append('-')
    
df_India=pd.DataFrame({"Series":series, "Place":place, "Date":date, "Time":time})
df_India# Creating a data frame

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex,","23 FEBRUARY, 2024",9:30 AM IST
1,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium,","7 MARCH, 2024",9:30 AM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","6 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","7 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","10 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","13 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","14 JULY, 2024",8:00 PM IST

##### 3. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/

In [103]:
gdp=webdriver.Chrome()
gdp.get('http://statisticstimes.com/') # Initializing the WebDriver

In [104]:
eco=gdp.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
eco.click()
eco_b=gdp.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
eco_b.click()# Navigate to the economy page

In [106]:
st_b=gdp.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
st_b.click()

In [112]:
rank = [] 
state = [] 
gsdp22 = []
gsdp21 = []
share = [] 
GDP = [] 
# Finding the table containing GDP details
r_t=gdp.find_elements(By.XPATH,'//tr[@class="odd"]/td[1]')
for i in r_t:
    try:
        rank.append(i.text)
    except NoSuchElementException:
        rank.append('-')

st=gdp.find_elements(By.XPATH,'//tr[@class="odd"]/td[2]')
for i in st:
    try:
        state.append(i.text)
    except NoSuchElementException:
        state.append('-')
        
gs22=gdp.find_elements(By.XPATH,'//tr[@class="odd"]/td[3]')
for i in gs22:
    try:
        gsdp22.append(i.text)
    except NoSuchElementException:
        gsdp22.append('-')

gs21=gdp.find_elements(By.XPATH,'//tr[@class="odd"]/td[4]')
for i in gs21:
    try:
        gsdp21.append(i.text)
    except NoSuchElementException:
        gsdp21.append('-')
        
sh=gdp.find_elements(By.XPATH,'//tr[@class="odd"]/td[5]')
for i in sh:
    try:
        share.append(i.text)
    except NoSuchElementException:
        share.append('-')
        
gd=gdp.find_elements(By.XPATH,'//tr[@class="odd"]/td[6]')
for i in gd:
    try:
        GDP.append(i.text)
    except NoSuchElementException:
        GDP.append('-')
        
df_gdp=pd.DataFrame({"Rank":rank, "State":state, "GSDP22-23":gsdp22, "GSDP21-22":gsdp21, "Share":share,"GDP($ billion)":GDP})
df_gdp# Creating a data frame

,Rank,State,GSDP22-23,GSDP21-22,Share,GDP($ billion)
0,1,Maharashtra,-,"3,108,022",13.24%,417.163
1,3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024
2,5,Gujarat,-,"1,937,066",8.25%,259.996
3,7,Rajasthan,"1,413,620","1,218,193",5.19%,163.507
4,9,Andhra Pradesh,"1,317,728","1,133,837",4.83%,152.185
5,11,Kerala,-,"932,470",3.97%,125.157
6,13,Haryana,"994,154","870,665",3.71%,116.862
7,15,Bihar,"751,396","650,302",2.77%,87.284
8,17,Assam,"493,167","412,612",1.76%,55.381
9,19,Jharkhand,"393,722","358,863",1.53%,48.167
10,21,Jammu & Kashmir-UT,"227,927","199,917",0.85%,26.833
11,23,Goa,-,"82,604",0.35%,11.087
12,25,Chandigarh,-,"45,635",0.19%,6.125
13,27,Meghalaya,"42,697","38,785",0.17%,5.206
14,29,Manipur,-,"36,594",0.16%,4.912
15,31,Nagaland,-,"31,913",0.14%,4.283
16,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.392
17,1,Maharashtra,-,"2,690,525",13.24%,-
18,3,Karnataka,"2,036,748","1,782,121",8.77%,"1,190,851"
19,5,Gujarat,-,"1,700,504",8.37%,-
20,7,Rajasthan,"1,259,527","1,084,845",5.34%,"694,771"
21,9,Telangana,"1,187,082","1,024,205",5.04%,"642,207"
22,11,Kerala,-,"822,970",4.05%,-
23,13,Haryana,"885,308","779,197",3.83%,"542,972"
24,15,Odisha,"691,888","587,900",2.89%,"403,222"
25,17,Assam,"427,147","363,161",1.79%,"251,688"
26,19,Jharkhand,"360,689","325,830",1.60%,"235,685"
27,21,Jammu & Kashmir-UT,"185,489","162,644",0.80%,"105,636"
28,23,Goa,-,"73,973",0.36%,-
29,25,Chandigarh,-,"40,573",0.20%,-
30,27,Meghalaya,"37,925","34,441",0.17%,"21,905"
31,29,Arunachal Pradesh,-,"31,669",0.16%,-
32,31,Nagaland,-,"27,859",0.14%,-
33,33,Andaman & Nicobar Islands,-,"9,209",0.05%,-

##### 4. Scrape the details of trending repositories on Github.com.Url = https://github.com/You have to find the following details:A) Repository titleB) Repository descriptionC) Contributors countD) Language used

In [113]:
github=webdriver.Chrome()
github.get('https://github.com/') # Initializing the WebDriver

In [115]:
tab=github.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span')
tab.click()

In [116]:
ops=github.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
ops.click()
t_b=github.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
t_b.click()# Open GitHub's trending page

In [150]:
# Creating empty lists to store data
url=[]
lang=[]
count=[]

# Extract details for each repository

link=github.find_elements(By.XPATH,'//h2/a')
for i in link:
    url.append(i.get_attribute("href"))
    
for i in url:
    github.get(i)
    try:
        lan=github.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        lang.append(lan.text)
    except NoSuchElementException:
        lang.append('-')
        
    try:
        cc=github.find_element(By.XPATH,'//span[@class="Counter ml-1"]')
        count.append(cc.text)
    except NoSuchElementException:
        count.append('-')

In [142]:
name=[]
rt=github.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in rt:
    name.append(i.text)
    
des=[]
dsc=github.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in dsc:   
    try:
        des.append(i.text)
    except NoSuchElementException:
        des.append('-')

In [151]:
df_trending=pd.DataFrame({'Repository title':name,'Repository description':des,'Languages used':lang,'Contributors count':count})
df_trending# Creating a data frame

,Repository title,Repository description,Languages used,Contributors count
0,lobehub /,"ü§ñ Lobe Chat - an open-source, high-performance...",TypeScript,63
1,chatchat-space /,Langchain-ChatchatÔºàÂéüLangchain-ChatGLMÔºâÂü∫‰∫é Langc...,Python,
2,charlax /,A collection of learning resources for curious...,Python,27
3,hiddify /,"Multi-platform auto-proxy client, supporting S...",Dart,
4,levihsu /,Official implementation of OOTDiffusion: Outfi...,Python,
5,Speykious /,"Blazingly üî• fast üöÄ memory vulnerabilities, wri...",Rust,
6,codecrafters-io /,Master programming by recreating your favorite...,-,
7,systemdesign42 /,Building the best system design resource in th...,-,
8,weijunext /,Êî∂ÂΩïÁã¨Á´ãÂºÄÂèëËÄÖÂá∫Êµ∑ÊäÄÊúØÊ†àÂíåÂ∑•ÂÖ∑,-,
9,qarmin /,"Multi functional app to find duplicates, empty...",Rust,60
10,trimstray /,"A collection of inspiring lists, manuals, chea...",-,
11,mttaggart /,Anxun Shanghai (I-SOON) Data Dump Translations...,-,
12,gunnarmorling /,1Ô∏è‚É£üêùüèéÔ∏è The One Billion Row Challenge -- A fun ...,Java,
13,vvbbnn00 /,ËØ•È°πÁõÆÂèØ‰ª•ËÆ©‰Ω†ÈÄöËøáËÆ¢ÈòÖÁöÑÊñπÂºè‰ΩøÁî®Cloudflare WARP+ÔºåËá™Âä®Ëé∑ÂèñÊµÅÈáè„ÄÇThis p...,Python,5
14,keras-team /,Deep Learning for humans,Python,
15,xtekky /,The official gpt4free repository | various col...,Python,179
16,charlax /,A collection of inspiring resources related to...,Shell,
17,facebookresearch /,"Official PyTorch Implementation of ""Scalable D...",Python,3
18,camunda /,Flexible framework for workflow and decision a...,Java,
19,facebook /,A framework for building native applications u...,C++,
20,krahets /,"„ÄäHello ÁÆóÊ≥ï„ÄãÔºöÂä®ÁîªÂõæËß£„ÄÅ‰∏ÄÈîÆËøêË°åÁöÑÊï∞ÊçÆÁªìÊûÑ‰∏éÁÆóÊ≥ïÊïôÁ®ãÔºåÊîØÊåÅ Python, C++,...",Java,141
21,ggerganov /,Port of Facebook's LLaMA model in C/C++,C++,1
22,dunwu /,üêß LinuxÊïôÁ®ãÔºå‰∏ªË¶ÅÂÜÖÂÆπÔºöLinux ÂëΩ‰ª§„ÄÅLinux Á≥ªÁªüËøêÁª¥„ÄÅËΩØ‰ª∂ËøêÁª¥„ÄÅÁ≤æÈÄâÂ∏∏Áî®Sh...,Shell,
23,maybe-finance /,The OS for your personal finances,Ruby,

##### 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:A) Song nameB) Artist nameC) Last week rankD) Peak rankE) Weeks on board

In [164]:
billboard=webdriver.Chrome()
billboard.get('https:/www.billboard.com/') # Initializing the WebDriver

In [166]:
tag=billboard.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
tag.click()

In [167]:
chart=billboard.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/button')
chart.click()
chart_b=billboard.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
chart_b.click()# Navigate to the charts page

In [170]:
# Creating empty lists to store data
name=[]
artist=[]
lwr=[]
pr=[]
wob=[]

nm=billboard.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in nm:
    try:
        name.append(i.text)
    except NoSuchElementException:
        name.append('-')

art=billboard.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in art:
    try:
        artist.append(i.text)
    except NoSuchElementException:
        artist.append('-')
        
l_rank=billboard.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]')
for i in l_rank:
    try:
        lwr.append(i.text)
    except NoSuchElementException:
        lwr.append('-')
        
p_rank=billboard.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]')
for i in p_rank:
    try:
        pr.append(i.text)
    except NoSuchElementException:
        pr.append('-')
        
wb=billboard.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]')
for i in wb:
    try:
        wob.append(i.text)
    except NoSuchElementException:
        wob.append('-')

df_100=pd.DataFrame({"Song Name":name,"Artist Name":artist,"Last Week Rank":lwr,"Peak Rank":pr,"Weeks on Board":wob})
df_100# Creating a data frame

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Lovin On Me,Jack Harlow,1,1,14
1,Texas Hold 'Em,Beyonce,-,2,1
2,Carnival,¬•$: Kanye West & Ty Dolla $ign,-,3,1
3,Beautiful Things,Benson Boone,3,3,4
4,Lose Control,Teddy Swims,2,2,27
...,...,...,...,...,...
95,Mmhmm,BigXthaPlug,83,65,8
96,Monaco,Bad Bunny,77,5,18
97,Prove It,21 Savage & Summer Walker,75,43,5
98,Perro Negro,Bad Bunny & Feid,82,20,15
99,Sunday Service,Latto,-,100,1

##### 6. Scrape the details of Highest selling novels.A) Book nameB) Author nameC) Volumes soldD) PublisherE) Genre

In [171]:
novels=webdriver.Chrome() # Initializing the WebDriver 
novels.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [173]:
# Creating empty lists to store data
b_name=[]
a_name=[]
vol=[]
publisher=[]
genre=[]

nm=novels.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in nm:
    try:
        b_name.append(i.text)
    except NoSuchElementException:
        b_name.append('-')

anm=novels.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in anm:
    try:
        a_name.append(i.text)
    except NoSuchElementException:
        a_name.append('-')
vo=novels.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vo:
    try:
        vol.append(i.text)
    except NoSuchElementException:
        vol.append('-')
gn=novels.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in gn:
    try:
        genre.append(i.text)
    except NoSuchElementException:
        genre.append('-')
pub=novels.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in pub:
    try:
        publisher.append(i.text)
    except NoSuchElementException:
        publisher.append('-')
        
df_novels=pd.DataFrame({'Book Name':b_name,'Author Name':a_name,'Volumes Sold':vol,"Publisher":publisher,'Genre':genre})
df_novels# Creating a data frame

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805","Crime, Thriller & Adventure",Transworld
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Children's Fiction,Bloomsbury
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Children's Fiction,Bloomsbury
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Children's Fiction,Bloomsbury
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Romance & Sagas,Random House
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",General & Literary Fiction,Random House
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Food & Drink: General,Penguin
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Young Adult Fiction,Scholastic Ltd.
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Biography: General,Orion
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Food & Drink: General,Penguin

##### 7. Scrape the details most watched tv series of all time from imdb.com.Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:A) NameB) Year spanC) GenreD) Run timeE) RatingsF) Votes

In [196]:
imdb=webdriver.Chrome() # Initializing the WebDriver 
imdb.get('https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc')

In [179]:
# Creating empty lists to store data
url=[]
genre=[]
r_time=[]

link=imdb.find_elements(By.XPATH,'//a[@class="ipc-title-link-wrapper"]')
for i in link:
    url.append(i.get_attribute("href"))
    
for i in url:
    imdb.get(i)
    try:
        run=imdb.find_element(By.XPATH,'//div[@class="sc-69e49b85-0 jqlHBQ"]/ul/li[4]')
        r_time.append(run.text)
    except NoSuchElementException:
        r_time.append('-')
        
    try:
        gen=imdb.find_element(By.XPATH,'//div[@class="ipc-chip-list--baseAlt ipc-chip-list"]')
        genre.append(gen.text)
    except NoSuchElementException:
        genre.append('-')

In [197]:
name=[]
year=[]
votes=[]
ratings=[]

nm=imdb.find_elements(By.XPATH,'//div[@class="sc-be6f1408-0 gVGktK"]/div/a/h3')
for i in nm:
    name.append(i.text)

ye=imdb.find_elements(By.XPATH,'//div[@class="sc-be6f1408-0 gVGktK"]/div[2]/span[1]')
for i in ye:
    year.append(i.text)

ra=imdb.find_elements(By.XPATH,'//div[@class="sc-be6f1408-0 gVGktK"]/span/div/span')
for i in ra:
    ratings.append(i.text)

vo=imdb.find_elements(By.XPATH,'//div[@class="sc-f24f1c5c-0 cPpOqU"]')
for i in vo:
    votes.append(i.text)

In [225]:
df=pd.DataFrame({'Name':name,'Year Span':year,'Genre':genre,'Run Time':r_time,'Ratings':ratings,'Votes':votes})
df['Genre'] = df['Genre'].str.replace('\n', ',')
df['Votes'] = df['Votes'].str.replace(r'Votes', ' ')
df['Ratings'] = df['Ratings'].str.replace('\n(.*)', '')
df# Creating a data frame

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,1. Game of Thrones,2011‚Äì2019,"Action,Adventure,Drama",55m,9.2,"2,259,175"
1,2. Breaking Bad,2008‚Äì2013,"Crime,Drama,Thriller",45m,9.5,"2,106,604"
2,3. Stranger Things,2016‚Äì2025,"Drama,Fantasy,Horror",51m,8.7,"1,318,050"
3,4. Friends,1994‚Äì2004,"Comedy,Romance",88h,8.9,"1,077,381"
4,5. The Walking Dead,2010‚Äì2022,"Drama,Horror,Thriller",44m,8.1,"1,070,382"
5,6. Sherlock,2010‚Äì2017,"Crime,Drama,Mystery",1h 28m,9.1,"988,312"
6,7. The Big Bang Theory,2007‚Äì2019,"Comedy,Romance",95h 2m,8.1,"860,084"
7,8. Dexter,2006‚Äì2013,"Crime,Drama,Mystery",55m,8.7,"758,853"
8,9. How I Met Your Mother,2005‚Äì2014,"Comedy,Drama,Romance",76h 16m,8.3,"723,370"
9,10. The Office,2005‚Äì2013,Comedy,22m,9.0,"698,507"
10,11. True Detective,2014‚Äì,"Crime,Drama,Mystery",55m,8.9,"641,307"
11,12. Peaky Blinders,2013‚Äì2022,"Crime,Drama",35h 9m,8.8,"636,278"
12,13. Better Call Saul,2015‚Äì2022,"Crime,Drama",52h 34m,9.0,"635,427"
13,14. The Boys,2019‚Äì,"Action,Comedy,Crime",1h,8.7,"633,479"
14,15. Black Mirror,2011‚Äì,"Drama,Mystery,Sci-Fi",1h,8.7,"632,277"
15,16. Rick and Morty,2013‚Äì,"Animation,Adventure,Comedy",23m,9.1,"593,698"
16,17. Lost,2004‚Äì2010,"Adventure,Drama,Fantasy",90h 45m,8.3,"589,687"
17,18. The Mandalorian,2019‚Äì,"Action,Adventure,Fantasy",40m,8.7,"579,606"
18,19. Vikings,2013‚Äì2020,"Action,Adventure,Drama",44m,8.5,"575,250"
19,20. Prison Break,2005‚Äì2017,"Action,Crime,Drama",44m,8.3,"574,316"
20,21. The Witcher,2019‚Äì,"Action,Adventure,Drama",1h,8.0,"564,541"
21,22. Squid Game,2021‚Äì,"Action,Drama,Mystery",55m,8.0,"530,345"
22,23. Westworld,2016‚Äì2022,"Drama,Mystery,Sci-Fi",1h 2m,8.5,"529,258"
23,24. House of Cards,2013‚Äì2018,Drama,63h 24m,8.6,"527,928"
24,25. Money Heist,2017‚Äì2021,"Action,Crime,Drama",1h 10m,8.2,"525,916"
25,26. House,2004‚Äì2012,"Drama,Mystery",129h 48m,8.7,"504,130"
26,27. The Last of Us,2023‚Äì,"Action,Adventure,Drama",50m,8.8,"500,798"
27,28. Attack on Titan,2013‚Äì2023,"Animation,Action,Adventure",24m,9.1,"497,628"
28,29. Supernatural,2005‚Äì2020,"Drama,Fantasy,Horror",44m,8.4,"478,497"
29,30. Modern Family,2009‚Äì2020,"Comedy,Drama,Romance",89h 38m,8.5,"476,404"
30,31. Suits,2011‚Äì2019,"Comedy,Drama",44m,8.4,"471,258"
31,32. Daredevil,2015‚Äì2018,"Action,Crime,Drama",54m,8.6,"470,828"
32,33. Narcos,2015‚Äì2017,"Biography,Crime,Drama",49m,8.8,"465,096"
33,34. The Sopranos,1999‚Äì2007,"Crime,Drama",55m,9.2,"461,844"
34,35. Arrow,2012‚Äì2020,"Action,Adventure,Crime",42m,7.5,"444,573"
35,36. Dark,2017‚Äì2020,"Crime,Drama,Mystery",24h 15m,8.7,"437,023"
36,37. The Simpsons,1989‚Äì,"Animation,Comedy",22m,8.7,"432,663"
37,38. Fargo,2014‚Äì2024,"Crime,Drama,Thriller",53m,8.9,"415,543"
38,39. Mr. Robot,2015‚Äì2019,"Crime,Drama,Thriller",49m,8.5,"414,783"
39,40. Loki,2021‚Äì2023,"Action,Adventure,Fantasy",9h 46m,8.2,"406,010"
40,41. South Park,1997‚Äì,"Animation,Comedy",22m,8.7,"403,021"
41,42. The Wire,2002‚Äì2008,"Crime,Drama,Thriller",59m,9.3,"372,554"
42,43. Death Note,2006‚Äì2007,"Animation,Crime,Drama",24m,8.9,"371,989"
43,44. The Flash,2014‚Äì2023,"Action,Adventure,Drama",43m,7.5,"366,737"
44,45. House of the Dragon,2022‚Äì,"Action,Adventure,Drama",50m,8.4,"362,991"
45,46. Family Guy,1999‚Äì2025,"Animation,Comedy",22m,8.2,"361,665"
46,47. Homeland,2011‚Äì2020,"Crime,Drama,Mystery",55m,8.3,"359,032"
47,48. Avatar: The Last Airbender,2005‚Äì2008,"Animation,Action,Adventure",23m,9.3,"356,940"
48,49. Brooklyn Nine-Nine,2013‚Äì2021,"Comedy,Crime",22m,8.4,"355,645"
49,50. Wednesday,2022‚Äì,"Comedy,Crime,Fantasy",45m,8.1,"352,610"

##### 8. Details of Datasets from UCI machine learning repositories.Url = https://archive.ics.uci.edu/ You have to find the following details:A) Dataset nameB) Data typeC) TaskD) Attribute typeE) No of instancesF) No of attribute G) Year

In [226]:
uci=webdriver.Chrome()
uci.get('https://archive.ics.uci.edu/') # Initializing the WebDriver

In [227]:
select=uci.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/section[1]/div[2]/a')
select.click()

In [260]:
# Creating empty lists to store data
urls=[]
dt=[]
tsk=[]
at=[]
noi=[]
noa=[]
year=[]

link=uci.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in link:
    urls.append(i.get_attribute('href'))
    
for i in urls:
    uci.get(i)
    try:
        data=uci.find_element(By.XPATH,'(//p[@class="text-md"])[1]')
        dt.append(data.text)
    except NoSuchElementException:
        dt.append("-")
        
    try:
        tk=uci.find_element(By.XPATH,'(//p[@class="text-md"])[3]')
        tsk.append(tk.text)
    except NoSuchElementException:
        tsk.append("-")
        
    try:
        att=uci.find_element(By.XPATH,'(//p[@class="text-md"])[4]')
        at.append(att.text)
    except NoSuchElementException:
        at.append("-")
        
    try:
        ins=uci.find_element(By.XPATH,'(//p[@class="text-md"])[5]')
        noi.append(ins.text)
    except NoSuchElementException:
        noi.append("-")
        
    try:
        na=uci.find_element(By.XPATH,'(//p[@class="text-md"])[6]')
        noa.append(na.text)
    except NoSuchElementException:
        noa.append("-")
        
    try:
        yr=uci.find_element(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        year.append(yr.text)
    except NoSuchElementException:
        year.append("-")

In [249]:
name=[]
dn=uci.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in dn:
    name.append(i.text)

In [261]:
df_uci=pd.DataFrame({"Dataset Name":name,"Data Type":dt,"Task":tsk,"Attribute Type":at,"Instances":noi,"Attributes":noa,"Year":year})
df_uci# Creating a data frame

,Dataset Name,Data Type,Task,Attribute Type,Instances,Attributes,Year
0,Iris,Tabular,Classification,Real,150,4,Donated on 6/30/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Donated on 9/13/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,Donated on 10/5/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
5,Raisin,Multivariate,Classification,"Real, Integer",900,7,Donated on 8/13/2023
6,Wine,Tabular,Classification,"Integer, Real",178,13,Donated on 6/30/1991
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
8,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11,Donated on 10/6/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1,20,-