### BATCH-DS2311
NAME-Alvin V Regi

##### Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [3]:
import warnings 
warnings.filterwarnings('ignore')
import pandas as pd
import re

In [310]:
Txt="Python Exercises, PHP exercises."
Result=re.sub(r"[\s,\.]",":",Txt)
print(Result)

Python:Exercises::PHP:exercises:

##### Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [102]:
Dictionary={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(data=Dictionary)
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [103]:
Pattern="[,!X+\d+:;\.]"
df['SUMMARY'].str.replace(Pattern,"")

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

##### Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [3]:
Txt="Experience is the name everyone gives to their mistakes."
Pattern="\w{4,}"
Result=re.compile(Pattern)
x=Result.findall(Txt)
print(x)

['Experience', 'name', 'everyone', 'gives', 'their', 'mistakes']

##### Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [105]:
Txt="No matter which field of work you want to go in, it is of great importance to learn at least one programming language."
Pattern="\s\w{3,5}\s"
Result=re.compile(Pattern)
x=Result.findall(Txt)
print(x)

[' which ', ' work ', ' want ', ' great ', ' learn ', ' least ']

##### Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [256]:
txt=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
for i in txt:
    x=re.sub(r"\(|\)",r"",i)
    print(x)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

##### Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [257]:
Txt=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
for i in Txt:
    x=re.sub(r'\(.*?\)',"",i)
    print(x)

example
hr@fliprobo
github
Hello
Data

##### Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [254]:
Txt="ImportanceOfRegularExpressionsInPython"
x=re.findall(r"[A-Z][a-z]+",Txt)
print(x)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

##### Question 8- Create a function in python to insert spaces between words starting with numbers.

In [313]:
txt='RegularExpression1IsAn2ImportantTopic3InPython'
x=re.sub(r"(?=\d+)"," ",txt)
print(x)

RegularExpression 1IsAn 2ImportantTopic 3InPython

##### Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [203]:
text='RegularExpression1IsAn2ImportantTopic3InPython'
x=re.sub(r"(?=\d+)"," ",text)
print(x)

RegularExpression 1IsAn 2ImportantTopic 3InPython

##### Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [4]:
df=pd.read_csv("happiness_score.csv")

In [5]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [21]:
df['first_five_letters'] = df['Country'].str.extract(r'(\w{1,6})')
print(df[["Country","first_five_letters"]])

         Country first_five_letters
0    Switzerland             Switze
1        Iceland             Icelan
2        Denmark             Denmar
3         Norway             Norway
4         Canada             Canada
..           ...                ...
153       Rwanda             Rwanda
154        Benin              Benin
155        Syria              Syria
156      Burundi             Burund
157         Togo               Togo

[158 rows x 2 columns]

##### Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [314]:
Txt="Sell me the _Porsche in 12 milloin "
x=re.findall(r"\w+",Txt)
print(x)

['Sell', 'me', 'the', '_Porsche', 'in', '12', 'milloin']

##### Question 12- Write a Python program where a string will start with a specific number.

In [315]:
txt="07 is my lucky number"
bool(re.search(r"^\d",txt))

True

##### Question 13- Write a Python program to remove leading zeros from an IP address

In [316]:
txt="192.008.01.038"
x=re.sub(r"0+","",txt)
print(x)

192.8.1.38

##### Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [387]:
txt="On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."
x=re.findall(r"[A-Za-z]+(.*\d{2}\w.*\s+\d{4})",txt)
print(x)

[' August 15th 1947']

##### Question 15- Write a Python program to search some literals strings in a string.

In [384]:
txt="The quick brown fox jumps over the lazy dog."
x=re.findall("fox|dog|horse",txt)
print(x)

['fox', 'dog']

##### Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [385]:
txt="The quick brown fox jumps over the lazy dog."
x=re.search("fox",txt)
print(x)

<re.Match object; span=(16, 19), match='fox'>

##### Question 17- Write a Python program to find the substrings within a string.

In [395]:
txt="Python exercises, PHP exercises, C# exercises"
x=re.findall("exercises",txt)
x

['exercises', 'exercises', 'exercises']

##### Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [29]:
txt='Python exercises, PHP exercises, C# exercises'
x=re.finditer(r"exercises",txt)
for i in x:
    print(i)

<re.Match object; span=(7, 16), match='exercises'>
<re.Match object; span=(22, 31), match='exercises'>
<re.Match object; span=(36, 45), match='exercises'>

##### Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [80]:
txt="2023-12-15"
x=re.sub(r'(\d{4})-(\d{2})-(\d{2})',r'\3-\2-\1',txt)
print(x)

15-12-2023

##### Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [94]:
txt="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
x=re.findall(r"\b\d+\.\d{1,2}\b",txt)
print(x)

['01.12', '145.8', '3.01', '27.25', '0.25']

##### Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [95]:
txt="I did my Graduation in 18 and my master in 20"
x=re.finditer(r"\b\d+\b",txt)
for i in x:
    print(i)

<re.Match object; span=(23, 25), match='18'>
<re.Match object; span=(43, 45), match='20'>

##### Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [112]:
txt="RegularExpressionIsAnImportantTopicInPython"
x=re.sub(r'(?<=[a-z])([A-Z])', r" \1",txt)
print(x)

Regular Expression Is An Important Topic In Python

##### Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [113]:
Txt="My Name Is Alvin v Regi"
x=re.findall(r"[A-Z][a-z]+",Txt)
print(x)

['My', 'Name', 'Is', 'Alvin', 'Regi']

##### Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [158]:
txt="Hello hello world world"
x=re.sub(r'\b(\w+)(\s+\1)+\b', r'\1',txt)
print(x)

Hello hello world

##### Question 27-Write a python program using RegEx to extract the hashtags.

In [170]:
txt="RT @kapil_kausik: #Doltiwal I mean #xyzabc is hurt by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> acquired funds No wo"
x=re.findall(r"#\w+",txt)
print(x)

['#Doltiwal', '#xyzabc', '#Demonetization']

##### Question 28- Write a python program using RegEx to remove <U+..> like symbols

In [187]:
txt="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
x=re.sub(r'<U\+(.*?)+>', '',txt)
print(x)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

##### Question 29- Write a python program to extract dates from the text stored in the text file.

In [190]:
txt="Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
x=re.findall(r"(\d{2}-\d{2}-\d{4})",txt)
print(x)

['12-09-1992', '15-12-1999']

##### Question 30- Create a function in python to remove all words from a string of length between 2 and 4.

In [191]:
txt="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern=re.compile(r"\b\w{2,4}\b")
x=pattern.sub("",txt)
print(x)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.